@*<section class="bibleversecard-header">
    Heutiges Textwort
</section>*@

<div class="bibleversecard_grid-container">
    <section class="bibleversecard">
        <p class="bibleversecard-header">
            Bibelwort
        </p>
        <p class="bibleversecard_loc">
            Lukas 10, 36.37
        </p>
        <p class="bibleversecard_text">
            Wer von diesen dreien, meinst du, ist der Nächste geworden
            dem, der unter die Räuber gefallen war? Er sprach:
            Der die Barmherzigkeit an ihm tat. Da sprach Jesus zu ihm:
            So geh hin und tu desgleichen!
        </p>
    </section>
</div>



@code {

}
