@using hgSoftware.DomainServices.Models;

<div class="bibleversecard_grid-container">
    <section class="bibleversecard">
        <p class="bibleversecard-header">
            Bibelwort
        </p>
        <p class="bibleversecard_loc">
            @BibleTextElement.BiblePassage
        </p>
        <p class="bibleversecard_text">
            @BibleTextElement.BibleText
        </p>
    </section>
</div>



@code {
    [Parameter]
    public BibleTextElement BibleTextElement { get; set; } = new BibleTextElement();
}
