@*
<div>
    <h1 class="header-dates">
        Termine
    </h1>
</div>*@

<div class="dates-container">
    <div class ="event_component">
        <EventCard></EventCard>
    </div>
    <div class="event_component">
        <EventCard></EventCard>
    </div>
</div>




 