<body>
    <section class="planner">
        <div class="planner__container">
            <ul class="planner__list">
                <li class="planner__list-item">
                    <p class="month planner__list-item-list">Januar</p>
                </li>
                <li class="planner__list-item">
                    <p class="day planner__list-item-list">So</p>
                    <p class="date planner__list-item-list">01.01.</p>
                    <p class="time planner__list-item-list">11:00 Uhr</p>
                    <p class="description planner__list-item-list">Gottesdienst (offenes Singen) durch Pr. Hoffmann</p>
                    <p class="bibleverse planner__list-item-list">[Apostelgeschichte 20,6]</p>
                    <p class="location planner__list-item-list">Wüstenrot</p>
                </li>
                <li class="planner__list-item">
                    <p class="day planner__list-item-list">Mi</p>
                    <p class="date planner__list-item-list">04.01.</p>
                    <p class="time planner__list-item-list">20:00 Uhr</p>
                    <p class="description planner__list-item-list">Gottesdienst durch Pr. R. Gampper</p>
                    <p class="bibleverse planner__list-item-list">[Offenbarung 20,6]</p>
                    <p class="location planner__list-item-list">Wüstenrot</p>
                </li>
                <li class="planner__list-item">
                    <p class="day planner__list-item-list">Mi</p>
                    <p class="date planner__list-item-list">04.01.</p>
                    <p class="time planner__list-item-list">20:00 Uhr</p>
                    <p class="description planner__list-item-list">Gottesdienst durch Pr. Beck</p>
                    <p class="bibleverse planner__list-item-list">[Offenbarung 20,6]</p>
                    <p class="location planner__list-item-list">Wüstenrot</p>
                </li>
                <li class="planner__list-item">
                    <p class="day planner__list-item-list">Di</p>
                    <p class="date planner__list-item-list">10.01.</p>
                    <p class="time planner__list-item-list">19:30 Uhr</p>
                    <p class="description planner__list-item-list">Chorprobe</p>
                    <p class="bibleverse planner__list-item-list"></p>
                    <p class="location planner__list-item-list">Wüstenrot</p>
                </li>
                <li class="planner__list-item">
                    <p class="day planner__list-item-list">Mi</p>
                    <p class="date planner__list-item-list">11.01.</p>
                    <p class="time planner__list-item-list">20:00 Uhr</p>
                    <p class="description planner__list-item-list">Gottesdienst durch Evangelist Kraft</p>
                    <p class="bibleverse planner__list-item-list">[Offenbarung 20,6]</p>
                    <p class="location planner__list-item-list">Wüstenrot</p>
                </li>
                <li class="planner__list-item">
                    <p class="day planner__list-item-list">Sa</p>
                    <p class="date planner__list-item-list">14.01.</p>
                    <p class="time planner__list-item-list">14:30 Uhr</p>
                    <p class="description planner__list-item-list">Hochzeit von Daniela und Stefan</p>
                    <p class="bibleverse planner__list-item-list"></p>
                    <p class="location planner__list-item-list">Wüstenrot</p>
                </li>
                <li class="planner__list-item">
                    <p class="day planner__list-item-list">Sa</p>
                    <p class="date planner__list-item-list">14.01.</p>
                    <p class="time planner__list-item-list">18:00 Uhr</p>
                    <p class="description planner__list-item-list">Jugendorchesterprobe</p>
                    <p class="bibleverse planner__list-item-list"></p>
                    <p class="location planner__list-item-list">Wüstenrot</p>
                </li>
            </ul>
        </div>
    </section>

</body>