
<div style="background-color:red" >

<h5>@Name</h5>
<h5>@ImageBas64</h5>

</div>

@code {

   [Parameter]
   public string Name {get; set;}

   [Parameter]
   public string ImageBas64 {get; set;}  
}
