@using hgSoftware.DomainServices.Models

<div class="background-image">
    <div class="background-left">

<div class="imagecard-container">
<div class="imagecard">
    <img class="image" src=@ImageElement.Base64Image alt=@ImageElement.ImageName/>
</div>
</div>
</div>
</div>





@code {
    [Parameter]
    public ImageElement ImageElement { get; set; } = new ImageElement();

}
