@using hgSoftware.DomainServices.Models

<div class="background-image-imagecard">
    <div class="background-left">
        <div class="card-container">
            <div class="imagecard">
                <img class="image" src=@ImageElement.Base64Image alt=@ImageElement.ImageName/>
            </div>
        </div>
    </div>
</div>





@code {
    [Parameter]
    public ImageElement ImageElement { get; set; } = new ImageElement();

    [Parameter]
    public string Direction { get; set; } = string.Empty;

}
