<div class="background-image-loadingscreen">
    <div class="background">
        <div class="loadingscreen-container">
            
            <section class="loadingspinner">
                <p class="progressbar">Progressbar</p>
            </section>

            <section class="loadingscreen-line">
            </section>

            <section class="loadingscreen">
                <p class="loadingscreen-product">
                    BulletinBoard 2.0
                </p>
                <p class="loadingscreen-header">
                    presented by: HGSoftware
                </p>
                <p class="loadingscreen-vers">
                    Version: 1.0.0
                </p>
                <p class="loadingscreen-devs">
                    <table>
                        <tr class="loadingscreen-tr">
                            <td>Lead Developer:</td>
                            <td>Heiko Gruber</td>
                        </tr>
                        <tr class="loadingscreen-tr">
                            <td>Assistant Developer:</td>
                            <td>Günter Siegele</td>
                        </tr>
                    </table>
                </p>
            </section>
        </div>
    </div>
</div>

@code {

}
