<div class="background-image-loadingscreen">
    <div class="background">
        <div class="loadingscreen-container">
            <div class="loadingscreen"> 
                <div class="spinner-container">
                <div class="spinner"></div>
                <div class="loading-text">    
                Loading ...
                </div>
                </div>
            
                <section class="loadingscreen-line">
                </section>

                <section class="loadingscreen-info">
                <p class="loadingscreen-product">
                    BulletinBoard 2.0
                </p>
                <p class="loadingscreen-header">
                        powered by: hgSoftware
                </p>
                <p class="loadingscreen-vers">
                    Version: 1.2.0
                </p>

                </section>
            </div>
        </div>
    </div>
</div>

@code {

}
