@using hgSoftware.DomainServices.Models

<div class="dates-container">
    <div class ="event_component">
        @for(var i = 0; i < PlannerElement.PlannerSections.Count; i++)
        {
             <EventCard PlannerSection=@PlannerElement.PlannerSections[i]></EventCard>
        }
    </div>
   
</div>

@code{
    [Parameter]
    public PlannerElement PlannerElement { get; set; } = new PlannerElement();

}




 