<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jugend NAK Backnang</title>

    <link href="main.css" type="text/css" rel="stylesheet">
</head>

<body>
    <section class="planner">
        <div class="planner__container">
            <h3 class="planner__heading">Bilder von unseren Studierenden</h3>

            <div class="planner__list">
                <a class="planner__list-item planner__list-item--first">
                    So 01.  11:00 Uhr	Gottesdienst (offenes Singen) durch Pr. Hoffmann [Offenbarung 20,6]     Wüstenrot
                </a>
                <a class="planner__list-item">

                </a>
                <a class="planner__list-item">

                </a>
                <a class="planner__list-item">

                </a>
                <a class="planner__list-item">

                </a>
                <a class="planner__list-item">

                </a>
                <a class="planner__list-item">

                </a>
            </div>
        </div>
    </section>

</body>
</html>










@code {

}
