@using hgSoftware.DomainServices.Models

<div class="dates-container">
    <div class ="event_component">
        <EventCard PlannerSection=@PlannerElement.CurrentMonth></EventCard>
    </div>
    <div class="event_component">
        <EventCard PlannerSection=@PlannerElement.FollowingMonth></EventCard>
    </div>
</div>


@code{

    [Parameter]
    public PlannerElement PlannerElement {get; set;}

}




 