@page "/"
@using BulletinBoard.Services.Contracts
@using hgSoftware.DomainServices.Models
@inject IBoardElementService BoardElementService

<PageTitle>Index</PageTitle>

@if (Elements.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <BSCarousel style="height:100vh">   
            @foreach(var element in Elements)
            {
                switch(element)
                {
                    case ImageElement:
                    var imageElement = element as ImageElement;  
                    <BSCarouselItem Interval="@Interval">
                        <ImageCard ImageElement=@imageElement></ImageCard>                        
                     </BSCarouselItem>                
                        break;
                    case PlannerElement:
                      var plannerElement = element as PlannerElement; 
                      <BSCarouselItem Interval="@Interval">
                          <PlannerCard PlannerElement=@plannerElement></PlannerCard>
                     </BSCarouselItem>    
                        break;
                    case BibleTextElement:
                     var bibleTextElement = element as BibleTextElement; 
                      <BSCarouselItem Interval="@Interval">
                          <div>
                              <h1>@bibleTextElement?.BiblePassage</h1>
                              <h2>@bibleTextElement?.BibleText</h2>
                          </div>                     
                     </BSCarouselItem>    
                        break;
                }
            }     
    </BSCarousel>
}


@code{

    IList<IElement> Elements = new List<IElement>();
    int  Interval = 0;

    protected override async Task OnParametersSetAsync()
    {
        var elements = await BoardElementService.GetCurrentElements();
        if (elements.Count > 1) Interval = 2000;
        Elements = elements;       
    }


    protected override async Task OnInitializedAsync()
    {       
        await BoardElementService.InitElements();
       
    }
}






